.scroll-container {
  position: absolute;
  text-align: center;
  right: 0;
  margin-right: 15px;
  overflow: hidden;
  flex-direction: column;
  margin-top: -50px;
  z-index: 100;
  cursor: pointer;
}

.btn-scroll {
  width: 50px;
  height: 50px;
  color: aliceblue;
  font-size: 24px;
  background-color: tomato;
  border-radius: 10px;
  border: none;
  text-align: center;
}

.btn-scroll .icon:hover,
.btn-scroll .icon:active {
  animation: rotate 1s alternate;
  color: aliceblue;
}

.btn-scroll .icon {
  -webkit-animation: mover 0.5s infinite alternate;
  animation: mover 0.5s infinite alternate;
}

@keyframes mover {
  100% {
    transform: translateY(-5px);
  }
  0% {
    transform: translateY(0px);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
  0% {
    transform: rotate(0);
  }
}

@media screen and (max-width: 1050px) {
  .scroll-container {
    top: 26%;
    right: 3%;
  }
}

@media screen and (max-width: 1025px) {
  .scroll-container {
    top: 20%;
  }
}

@media screen and (max-width: 853px) {
  .scroll-container {
    top: 23%;
  }
}

@media screen and (max-width: 770px) {
  .scroll-container {
    top: 27%;
  }
}

@media screen and (max-width: 600px) {
  .scroll-container button {
    background: transparent;
  }
  .scroll-container {
    right: -3%;
  }
}

@media screen and (max-width: 540px) {
  .scroll-container {
    top: 30%;
  }
}

@media screen and (max-width: 280px) {
  .scroll-container {
    right: -9%;
  }
}
